{% extends 'recipe/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card card-form mx-auto shadow mb-3"">
  <div class="card-body">
    <h4 class="card-title text-center"><b>Enter Recipe Details</b></h4>
    <div class="container">
      <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group">
            <button class="btn btn-outline-info mt-2" type="submit">Create Recipe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock content %}